@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Funnel Display", sans-serif;
}

h1 {
    font-size: 56px;
    font-weight: 800;
    color: #281426;
    text-align: center;
    margin-bottom: 24px;
}

h2 {
    font-size: 32px;
    color: #281426;
    text-align: center;
    margin-bottom: 32px;
}

p { 
    line-height: 1.5;
}

nav {
    height: 80px;
    display: flex;
}

body { 
    max-width: 100vw;
    overflow-x: hidden;
}

.nav-container {
    display: flex;
    width: 100%;
    max-width: 1200px;
    padding: 20px 24px;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}

ul {
    display: flex;
    gap: 16px;
}

li {
    list-style-type: none;
}

.nav-link {
    font-size: 20px;
    font-weight: bold;
    padding: 8px;
}

.nav-link--primary {
    border: 2px solid #ac4d2b;
    border-radius: 4px;
}

.nav-link:hover {
    text-decoration: underline;
}

.nav-link--primary:hover {
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #281426;
}

.logo {
    width: 180px;
    padding-bottom: 20px;
    padding-top: 16px;
}

#landing {
    background-color:#fffde8;
}

header {
    height: calc(100vh - 80px);
    background-color: #fffde8;
}

.header-container {
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.header-description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 24px;
}

.colored-text {
    color: #FB8571;
}

img {
    width: 100%;
}

button {
    cursor: pointer;
}

button:active {
    transform: scale(0.95);
}

.btn {
    background-color: #FB8571;
    color: white;
    padding: 12px 24px;
    border-radius: 4px;
    font-weight: bold;
    font-size: 20px;
    border: none;
    width: 200px;
}

.btn:hover {
    background-color: #ac4d2b;
}

.header-graphic {
    padding: 20px;
    max-width: 720px;
    z-index: 2;
}

.person-reading {
    height: 100%;
    padding: 20px;
}

.container {
    padding: 56px 0;
}

.row { 
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* HIGHLIGHTS */

#highlights {
    position: relative;
}

#highlights:before,
#highlights:after {
    content: "";
    position: absolute;
    background: url('assets/wave.svg');
    width: 101vw;
    height: 12vw;
    z-index: 1;
    background-size: cover;
    background-repeat: no-repeat;
}

#highlights:before {
    top: 1px;
    transform: translateY(-100%);
}

#highlights:after {
    bottom: 1px;
    transform: translateY(100%) rotate(180deg);
}

.highlight-wrapper {
    display: flex;
}

.highlight {
    padding: 0 24px;
    width: calc(100% / 3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.highlight_para {
    text-align: center;
    max-width: 280px;
}

.highlight_subtitle {
    font-size: 20px;
    margin-bottom: 8px;
    text-align: center;
}

.highlight_img {
    border: 2px solid #ac4d2b;
    background-color: #FB8571;
    border-radius: 5px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.1);
    width: 100px;
    height: 100px;
    margin: 24px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

i { 
    font-size: 40px;
    color: white;
}

/* FEATURED BOOKS */

#featured-books {
    background-color: #fffde8;
    height: 1000px;
}